@model Region
@{
    ViewData["Title"] = "RegionData";
}
<div class="container">
    <h1 class="text-center">@Model.Name</h1>
    <div class="col-md-auto mt-5">
        <div class="row ">
            <div class="col-xl-3 col-lg-6">
                <div class="card l-bg-cherry">
                    <div class="card-statistic-3 p-4">
                        <div class="card-icon card-icon-large"></div>
                        <div class="mb-4">
                            <h5 class="card-title mb-0">New Cases</h5>
                        </div>
                        <div class="row align-items-center mb-2 d-flex">
                            <div class="col-8">
                                <h2 class="d-flex align-items-center mb-0">
                                    @Model.RegisonData.Confirmed.Last
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6">
                <div class="card l-bg-blue-dark">
                    <div class="card-statistic-3 p-4">
                        <div class="card-icon card-icon-large"></div>
                        <div class="mb-4">
                            <h5 class="card-title mb-0">Total cases</h5>
                        </div>
                        <div class="row align-items-center mb-2 d-flex">
                            <div class="col-8">
                                <h2 class="d-flex align-items-center mb-0">
                                    @Model.RegisonData.Confirmed.Total
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-7">
                <div class="card l-bg-green-dark">
                    <div class="card-statistic-3 p-4">
                        <div class="card-icon card-icon-large"></div>
                        <div class="mb-4">
                            <h5 class="card-title mb-0">New vaccinated</h5>
                        </div>
                        <div class="row align-items-center mb-2 d-flex">
                            <div class="col-10">
                                <h2 class="d-flex align-items-center mb-0">
                                    @Model.RegisonData.Vaccinated.Last
                                </h2>
                                <div class="mt-4">
                                    <p>astrazeneca: @Model.RegisonData.Vaccinated.Last_by_type.Astrazeneca</p>
                                    <p>janssen: @Model.RegisonData.Vaccinated.Last_by_type.Janssen</p>
                                    <p>moderna: @Model.RegisonData.Vaccinated.Last_by_type.Moderna</p>
                                    <p>pfeizer: @Model.RegisonData.Vaccinated.Last_by_type.Pfeizer</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6">
                <div class="card l-bg-orange-dark">
                    <div class="card-statistic-3 p-4">
                        <div class="card-icon card-icon-large"></div>
                        <div class="mb-4">
                            <h5 class="card-title mb-0">Fully vaccinated</h5>
                        </div>
                        <div class="row align-items-center mb-2 d-flex">
                            <div class="col-8">
                                <h2 class="d-flex align-items-center mb-0">
                                    @Model.RegisonData.Vaccinated.Total_completed
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    
